# Compiled Python Files
__pycache__/
/__pycache__

# Output Folders
Output/
Scans/

# Developer BuildC File
*.bat

# Coverage
.coverage
coverage.xml

# PyLintRC
.pylintrc

# PyCharm IDEA folder
.idea/

# Temporarily getting rid of MatLab
MATLAB/
matlab_plot.exe

# installer files
build/
installer.cfg

# Visual Studio Files
.vs/
/.vs
*.pyproj
*.sln
*.pyperf

requirements.txt

.mypy_cache/