# PyCharm and Visual Studio files
*.pyproj
*.sln

*.vcxproj
*.vcxproj.filters
*.vcxproj.user

.vs

# Debug and Release (Visual Studio)
/ScanUtils/Debug/
/ScanUtils/Release/
/ScanUtils/.vs

*/Debug/
*/Release/

# Output Files
/Output/**
/static/Output.zip