# Compiled Python Files
__pycache__/
/__pycache__

# Developer BuildC File
*.bat

# Coverage
.coverage
coverage.xml

# PyLintRC
.pylintrc

# PyCharm IDEA folder
.idea/

# Temporarily getting rid of MatLab
MATLAB/
matlab_plot.exe

# installer files
build/
installer.cfg

# Visual Studio Files
.vs/
/.vs
*.pyproj
*.sln
*.pyperf

requirements.txt

.mypy_cache/

Output/*.csv
Yura Program.pyproj
Yura Program.pyproj.user
static/output.zip

dist/

Output/

venv/
